.light {
  --txt: #000;
  --txt-secondary: rgb(55, 55, 55, .7);
  --txt-sec-darcker: rgba(35, 176, 134);
  --text-typewriter: rgba(242, 134, 39, .9);
  --bg-scroll: rgba(40, 40, 40, .5);
  --bg-scroll--thumb: linear-gradient(to top, rgba(34, 34, 34, 0.59), rgba(18,18,32,0.8));
  --bg-scroll--thumb-hover: linear-gradient(to top, rgba(45, 45, 45, 0.989), rgba(33,33,34,0.6));
  --bg-layout-home: linear-gradient(to bottom, rgba(230, 230, 230) 0%, #f8f8f8 100%);
  --bg-home-section-main: url(../assets/imgs/bg_light.jpg);;
  --bg-layout-base: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  --bg-primary: #fafafa;
  --bg: #623686;
  --bg-active: rgba(15, 186, 134);
  --bg-header: rgba(230, 230, 230, .2);
  --bg-footer: rgba(220, 220, 220, .6);
  --backdrop: rgba(0, 0, 0, 0.75);
  --nav-active: rgba(242, 134, 39);
  --border-primary: #8a49a8;
  --button-download-pdf:rgba(242, 134, 39);
  --boxShadow-techIcon: rgba(50, 50, 50, 0.237);
  --border-techIcon: rgba(20, 25, 25, 0.637);
  --border-hover--techIcon:rgba(242, 134, 39);
  --boxShadow-hover-techIcon:rgba(242, 134, 39, .6);
  --logo-primary: rgba(85, 176, 134);
  --social-icon: rgba(26, 176, 134);
  --social-shadow: rgba(15, 186, 134);
  --preloader: #fafafa;
  --bg-modal: #fafafa;
  --modal-border: none;
  --modal-close: #623686;
  --modal-close-icon: #fff;
  --drawer-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  --btn-primary-txt: #fff;
  --tags-txt: #fff;
  --toggle-theme: #000;
}

.dark {
  --txt: #fff;
  --txt-secondary: RGB(70 255 255);
  --txt-sec-darcker: RGB(50 255 255);
  --text-typewriter: rgba(80 200 200);
  --bg-scroll: rgba(0, 0, 0, 0.8);
  --bg-scroll--thumb: linear-gradient(to top, rgba(120, 255, 255, 0.59), rgba(18,18,32,0.8));
  --bg-scroll--thumb-hover: linear-gradient(to top, rgba(0, 255, 255, 0.989), rgba(18,18,32,0.6));
  --bg-layout-home: linear-gradient(to left, RGB(18 18 18), RGB(18 18 32));
  --bg-home-section-main: linear-gradient(to bottom left, rgba(17, 16, 16, 0.678), rgba(12, 10, 22, 0.863)), url(../assets/imgs/bg6.jpg);
  --bg-layout-base: #100D19;
  --bg-primary: #181a27;
  --bg: #623686;
  --bg-active: RGB(50 255 255);
  --bg-header: linear-gradient(to left, rgba(30,30,30,0.6), rgba(18,18,32,0.6));
  --bg-footer: rgba(15,15,15);
  --backdrop: rgba(0, 0, 0, 0.75);
  --nav-active: linear-gradient(to left, RGB(0 225 225), RGB(18 18 32));
  --border-primary: #8a49a8;
  --button-download-pdf:rgba(50, 255, 255, 0.237);
  --boxShadow-techIcon: rgba(50, 255, 255, 0.237);
  --border-techIcon: rgba(100, 255, 255, 0.637);
  --border-hover--techIcon:rgba(30, 255, 255, 0.883);
  --boxShadow-hover-techIcon:rgba(30, 255, 239, .8);
  --logo-primary: RGB(0 225 225);
  --social-icon: RGB(12 12 12);
  --social-shadow: RGB(0 225 225);
  --preloader: RGB(18 18 18);
  --bg-modal: #100D19;
  --modal-border: 1px solid rgba(0,0,0,.125);
  --modal-close: #623686;
  --modal-close-icon: #fff;
  --drawer-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  --btn-primary-txt: #fff;
  --tags-txt: #fff;
  --toggle-theme: #fff;
}