.navigationDrawerNav {
  height: 100%;
  display: flex;
  justify-content: center;
}

.desktop {
  display: flex;
}
.desktop a img{
  display: flex;
  width:150px;
  align-items: center;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}
