.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.techIcon {
  font-size: 4rem;
  margin: 15px;
  padding: 2rem 4rem;
  opacity: 0.93;
  border: 1.7px solid var(--border-techIcon);
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px var(--boxShadow-techIcon);
  overflow: hidden;
  transition: all 0.4s ease 0s;
  line-height: 0;

  &:hover {
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid var(--border-hover--techIcon);
    box-shadow: 4px 5px 4px 3px var(--boxShadow-hover-techIcon);
  }
}